         body { background-color: white; } 
         h1 { font-size: large; }
             .code { }
         .h1 { font-size: large; }
	          			 
        .function { background-color: #CCCCFF; color: black; 
	              font-size: large; }
            .help    { color: black;  }
            .help_field  { color: blue; font-weight: bold }
            .also_field  { color: blue; font-weight: bold }
            .also  { color: black; }



